<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#CA1507" />
    <title>AZResto</title>
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="lazyload se-pre-con"></div>
    <a href="#resto-menu" class="skip-link" tabindex="1">Menuju ke konten</a>
    <header>
      <nav id="nav">
        <div class="logo">
          <img class="lazyload" tabindex="-1" src="./images/heros/logo.png" alt="logo" />
          <h1 tabindex="0">AZ Resto</h1>
        </div>
        <div class="nav-list">
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/Favorite">Favorite</a></li>
            <li><a href="https://github.com/XseenPro" target="_blank">About Us</a></li>
          </ul>
        </div>
        <div class="hamburger">
          <drawer-menu></drawer-menu>
        </div>
      </nav>
      <div class="menubar">
        <ul>
          <li><a tabindex="0" href="#/home">Home</a></li>
          <li><a tabindex="0" href="#/Favorite">Favorite</a></li>
          <li><a tabindex="0" href="https://github.com/XseenPro" target="_blank">About Us</a></li>
        </ul>
      </div>
    </header>
    <main id="thecontent"></main>
    <footer>
      <div class="footer-content">
        <h3 tabindex="0">Az Resto</h3>
        <p tabindex="0">Az Resto menyediakan rekomendasi resto terbaik di Indonesia. Terdapat banyak pilihan resto yang dapat menjadi tujuan para pencita kuliner di seluruh Indonesia.</p>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/azkal.azkiya.7737" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/kyadzkal/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://github.com/XseenPro" target="_blank"><i class="fa-brands fa-github"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com/@azteknow9177" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/azkal-azkiya-530aa41b3/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="copyright" tabindex="0">
        <p>
          copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          <a href="#">Azkal Azkiya</a>
        </p>
      </div>
    </footer>
  </body>
</html>
